{{#if isBoolean}}
  {{input
    type="checkbox"
    checked=(readonly fieldValue)
    click=(action "onChangeField" value="target.checked")
  }}
  <span>{{fieldName}}</span>
{{/if}}

{{#if isInteger}}
  <div class="controls">
    <TextField
      @type="number"
      @value={{readonly fieldValue}}
      class="topic-custom-field-input input-small"
      @onChange={{action "onChangeField" value="target.value"}}
      @placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}}
    />
  </div>
{{/if}}

{{#if isString}}
<div class="controls">
    <input type="text" value={{readonly fieldValue}} id="topic-custom-field-input" class="topic-custom-field-input input-large"
         placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}} />

    <input type="text" value={{readonly topic_video_input}} id="topic-video-input"
        class="topic-video-input input-large" placeholder="Paste video embeded code here..." />

    <input type="text" value={{readonly topic_credit_input}} id="topic-credit-input"
        class="topic-credit-input input-large" placeholder="https://credit-url" />

    <input type="file" onchange={{action send 'onChangeFileUpload' }} id="fileUpload" name="fileUpload" accept="image/*" />
</div>
{{/if}}

{{#if topic_file_upload}}
<img src="{{topic_file_upload}}" alt="Uploaded Image" class="uploaded-image" />
{{/if}}

<input type="hidden" id="selected-tags-input" />
<div class="tag-tabs">
    {{custom-tabs initialTags=model.tags}}
</div>

{{#if isJson}}
  {{textarea
    value=(readonly fieldValue)
    class="topic-custom-field-textarea"
    change=(action "onChangeField" value="target.value")
    placeholder=(i18n "topic_custom_field.placeholder" field=fieldName)
  }}
{{/if}}