{{#if isBoolean}}
  {{input
    type="checkbox"
    checked=(readonly fieldValue)
    click=(action "onChangeField" value="target.checked")
  }}
  <span>{{fieldName}}</span>
{{/if}}

{{#if isInteger}}
  <div class="controls">
    <TextField
      @type="number"
      @value={{readonly fieldValue}}
      class="topic-custom-field-input input-small"
      @onChange={{action "onChangeField" value="target.value"}}
      @placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}}
    />
  </div>
{{/if}}

{{#if isString}}
<div class="controls">
    <input type="text" value={{readonly fieldValue}} class="topic-custom-field-input input-large"
        oninput={{action "onChangeField" }} placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}} />

    <input type="file" id="fileUpload" name="fileUpload" accept="image/png, image/jpeg" />
    <button id="uploadButton" {{action "uploadAndAttachImage" }} class="btn btn-primary">Upload Image</button>
</div>
{{/if}}

{{#if topic_file_upload}}
<img src="{{topic_file_upload}}" alt="Uploaded Image" class="uploaded-image" />
{{/if}}

{{#if isJson}}
  {{textarea
    value=(readonly fieldValue)
    class="topic-custom-field-textarea"
    change=(action "onChangeField" value="target.value")
    placeholder=(i18n "topic_custom_field.placeholder" field=fieldName)
  }}
{{/if}}