{{#if isBoolean}}
  {{input
    type="checkbox"
    checked=(readonly fieldValue)
    click=(action "onChangeField" value="target.checked")
  }}
  <span>{{fieldName}}</span>
{{/if}}

{{#if isInteger}}
  <div class="controls">
    <TextField
      @type="number"
      @value={{readonly fieldValue}}
      class="topic-custom-field-input input-small"
      @onChange={{action "onChangeField" value="target.value"}}
      @placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}}
    />
  </div>
{{/if}}

{{!-- {{#if isString}}
  <div class="controls">
    <span>Label</span>
    <TextField
      @type="text"
      @value={{readonly fieldValue}}
      class="topic-custom-field-input input-large"
      @onChange={{action "onChangeField" value="target.value"}}
      @placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}}
    />
  </div>
{{/if}} --}}

{{#if isString}}
<div class="controls">
    <span>Label</span>
    <input type="text" value={{readonly fieldValue}} class="topic-custom-field-input input-large"
        oninput={{action "onChangeField" }} placeholder={{i18n "topic_custom_field.placeholder" field=fieldName}} />
</div>
{{/if}}

{{#if isJson}}
  {{textarea
    value=(readonly fieldValue)
    class="topic-custom-field-textarea"
    change=(action "onChangeField" value="target.value")
    placeholder=(i18n "topic_custom_field.placeholder" field=fieldName)
  }}
{{/if}}